# Step 1: Loading and Inspecting Data
- Load the data files file3.xlsx and file4.xlsx using pandas.
- Print the column names of both files.
- Compare the names and order of columns in these files to ensure consistency with the data dataframe (if provided).
- Rename all column names to lowercase to standardize them.

In [1]:
import pandas as pd

In [6]:
f1 = pd.read_excel("file3.xlsx")
f2 = pd.read_excel("file4.xlsx")

In [19]:
f1

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,179863,WA,male,1253,325,447,7,15635,12,57,454,374,9.187500,1,4702,U1,10.0
996,87395,MT,female,842,264,388,3,15084,2,50,286,370,15.100000,0,1701,R1,20.0
997,86779,ND,F,331,165,266,0,9324,1,61,172,232,10.666667,28,0,T3,11.0
998,25214,NC,female,1823,544,567,43,21265,1,62,552,552,12.000000,28,5111,T1,25.0
999,79641,WI,F,1244,672,776,25,25036,1,64,713,743,9.937500,0,2310,S1,12.0

In [20]:
f2

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,186307,CA,M,AAA1229,345,438,3,15915,2,58,388,417,16.142857,1,2511,C2,20.0
1,34174,WV,F,529,198,291,0,10816,0,80,218,257,6.083333,2,3001,T2,12.0
2,101388,MO,M,526,340,342,0,9687,0,89,348,321,5.800000,1,5501,R2,10.0
3,159472,CA,F,621,231,279,0,6184,43,41,237,272,11.666667,1,1512,R3,15.0
4,179143,WA,male,1688,496,564,35,22963,2,63,520,521,23.900000,1,3709,T1,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0
1002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,7401,C1,10.0
1003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,3301,S2,5.0
1004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,7301,T2,14.0
1005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,1709,S2,9.0

In [8]:
print(f1.columns)
print(f2.columns)

Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')
Index(['CONTROLN', 'STATE', 'GENDER', 'HV1', 'IC1', 'IC4', 'HVP1', 'IC5',
       'POBC1', 'POBC2', 'IC2', 'IC3', 'AVGGIFT', 'TCODE', 'DOB', 'DOMAIN',
       'TARGET_D'],
      dtype='object')

In [13]:
def lower_columns(df):
    """
    Returns list of column names in lower cases
    """
    return [column.lower() for column in df]

In [15]:
f1.columns = lower_columns(f1)
f2.columns = lower_columns(f2)

# Step 2: Data Merging
- Merge the two dataframes (data_file3 and data_file4) with the data dataframe.
- Drop the columns domain and dob.
- Rearrange the columns so that ic2, ic3, ic4, and ic5 appear before median_home_val.

In [22]:
f3 = pd.concat([f1, f2])

In [24]:
f3.drop(columns=["domain", "dob"], inplace=True)

In [37]:
f3 = f3.loc[:, ["controln", "state", "gender", "ic1", "ic2", "ic3", "ic4", "ic5", "hv1", "pobc1", "pobc2", "avggift", "tcode", "target_d"]]

In [38]:
f3

,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
0,119966,TX,F,225,264,243,281,9372,321,3,68,8.058824,0,11.0
1,152470,CA,F,610,763,698,807,53158,5725,13,22,23.727273,0,45.0
2,48527,AL,Male,407,502,439,496,17743,931,0,65,4.416667,2,3.0
3,171528,CA,F,317,389,405,471,17431,1895,10,62,6.705882,0,5.0
4,50122,Tennessee,F,318,340,352,370,12416,715,0,75,9.250000,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,F,396,424,450,470,15356,742,7,37,14.285714,2,50.0
1002,4881,FL,M,100,406,200,423,11670,599,10,27,9.230769,28,10.0
1003,66358,ND,M,258,298,274,299,10186,593,1,70,5.266667,1,5.0
1004,2231,WI,male,217,386,295,397,12315,564,0,96,11.400000,1,14.0
1005,68534,MI,M,431,451,455,505,14845,651,7,77,7.428571,1,9.0

# Step 3: Filtering and Index Operations
- Filter rows based on the following conditions:
- Men who live in Florida (without storing the results)
- Female donors who have donated less than $100 (without storing the results)
- Filter the results for women and store the results in a new DataFrame.
- Display the first 10 rows of the filtered DataFrame.
- Reset the index with and without the drop=True parameter to observe the difference.
- Display rows from index 100 to 200.
- Use iloc to get the first 100 rows and columns with indexes 2, 3, 4, and 5.

In [48]:
# Men who live in Florida (without storing the results)
f3[f3["state"] == "FL"]

,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
22,33003,FL,F,242,286,281,333,19039,831,5,17,7.375000,0,8.0
24,43086,FL,F,352,406,397,444,18613,795,6,12,7.333333,28,20.0
30,35581,FL,M,296,377,360,473,16729,906,4,37,10.428571,1,15.0
31,46358,FL,M,362,371,388,408,12806,715,6,28,7.466667,1,9.0
38,41545,FL,M,373,392,417,436,14942,658,11,23,5.789474,1,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,4881,FL,M,100,406,200,423,11670,599,10,27,9.230769,28,10.0
992,6403,FL,M,311,272,324,313,12509,677,2,23,10.115385,1,10.0
997,6443,FL,M,252,263,262,274,11132,595,8,11,14.692308,1,20.0
1001,41537,FL,F,396,424,450,470,15356,742,7,37,14.285714,2,50.0
1002,4881,FL,M,100,406,200,423,11670,599,10,27,9.230769,28,10.0

In [49]:
# Female donors who have donated less than $100 (without storing the results)
f3[(f3["gender"] == "F") & (f3["avggift"] < 100.0)]

,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
0,119966,TX,F,225,264,243,281,9372,321,3,68,8.058824,0,11.0
1,152470,CA,F,610,763,698,807,53158,5725,13,22,23.727273,0,45.0
3,171528,CA,F,317,389,405,471,17431,1895,10,62,6.705882,0,5.0
4,50122,Tennessee,F,318,340,352,370,12416,715,0,75,9.250000,2,10.0
5,92293,IL,F,878,897,934,973,35266,3359,16,74,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
991,77441,WI,F,316,354,335,376,11623,725,1,86,7.666667,0,7.0
993,117326,TX,F,554,750,626,837,31480,1715,3,54,6.916667,0,10.0
996,66762,MI,F,279,336,339,388,12653,632,1,71,8.533333,0,5.0
998,151175,CA,F,507,504,538,537,16165,2707,24,54,12.117647,0,22.0
1001,41537,FL,F,396,424,450,470,15356,742,7,37,14.285714,2,50.0

In [52]:
# Filter the results for women and store the results in a new DataFrame.
f3_female = f3[f3["gender"] == "F"]

# Display the first 10 rows of the filtered DataFrame.
f3_female[:10]

,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
0,119966,TX,F,225,264,243,281,9372,321,3,68,8.058824,0,11.0
1,152470,CA,F,610,763,698,807,53158,5725,13,22,23.727273,0,45.0
3,171528,CA,F,317,389,405,471,17431,1895,10,62,6.705882,0,5.0
4,50122,Tennessee,F,318,340,352,370,12416,715,0,75,9.250000,2,10.0
5,92293,IL,F,878,897,934,973,35266,3359,16,74,5.800000,0,5.0
6,47191,AL,F,264,295,330,378,20090,950,6,55,4.142857,2,5.0
7,89288,IL,F,414,467,464,507,15884,1243,18,70,10.400000,0,15.0
9,30051,GA,F,205,260,250,292,9279,359,0,90,9.000000,0,10.0
12,110789,LA,F,129,204,226,277,9585,324,0,91,8.200000,2,15.0
14,142662,CA,F,166,218,194,243,10014,1188,10,34,8.333333,28,10.0

In [54]:
# Reset the index with and without the drop=True parameter to observe the difference.
f3_female.reset_index()

,index,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
0,0,119966,TX,F,225,264,243,281,9372,321,3,68,8.058824,0,11.0
1,1,152470,CA,F,610,763,698,807,53158,5725,13,22,23.727273,0,45.0
2,3,171528,CA,F,317,389,405,471,17431,1895,10,62,6.705882,0,5.0
3,4,50122,Tennessee,F,318,340,352,370,12416,715,0,75,9.250000,2,10.0
4,5,92293,IL,F,878,897,934,973,35266,3359,16,74,5.800000,0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,991,77441,WI,F,316,354,335,376,11623,725,1,86,7.666667,0,7.0
980,993,117326,TX,F,554,750,626,837,31480,1715,3,54,6.916667,0,10.0
981,996,66762,MI,F,279,336,339,388,12653,632,1,71,8.533333,0,5.0
982,998,151175,CA,F,507,504,538,537,16165,2707,24,54,12.117647,0,22.0
983,1001,41537,FL,F,396,424,450,470,15356,742,7,37,14.285714,2,50.0

In [57]:
f3_female = f3_female.reset_index(drop=True)

In [58]:
# Display rows from index 100 to 200.
f3_female[100:201]

,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
100,35908,FL,F,373,457,413,463,16854,693,1,24,15.000000,0,20.0
101,81073,WI,F,243,307,295,349,13144,571,3,74,9.166667,2,10.0
102,38471,FL,F,471,545,544,598,22327,1033,6,36,13.777778,2,25.0
103,95536,IL,F,482,465,447,433,13887,886,0,68,16.666667,28,20.0
104,103330,MO,F,377,432,445,492,16206,915,3,62,10.333333,0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,186013,AL,F,296,316,351,391,12774,554,1,63,9.500000,0,15.0
197,95132,IL,F,269,329,295,357,12842,512,1,73,14.000000,0,25.0
198,130926,CO,F,517,568,565,599,18850,1175,2,38,5.222222,0,5.0
199,114912,OK,F,306,338,316,345,10625,622,0,64,16.653846,2,25.0
200,164651,CA,F,313,334,393,411,14497,2208,25,46,11.500000,0,5.0

In [77]:
# Use iloc to get the first 100 rows and columns with indexes 2, 3, 4, and 5.
f3_female.iloc[0:100, 2:6]

   gender  ic1  ic2  ic3
0       F  225  264  243
1       F  610  763  698
2       F  317  389  405
3       F  318  340  352
4       F  878  897  934
..    ...  ...  ...  ...
95      F  207  171  263
96      F  263  289  313
97      F  226  249  276
98      F  252  282  309
99      F  176  225  233

[100 rows x 4 columns]

# Step 4: Data Cleaning and Final Adjustments
- Check the data types of all columns in the DataFrame.
- Use select_dtypes() to select all numerical columns (both integers and floats).
- Convert columns with numerical values stored as object types to appropriate numeric types.
- Remove duplicate rows from the DataFrame.

In [79]:
f3.dtypes

controln      int64
state        object
gender       object
ic1           int64
ic2           int64
ic3           int64
ic4           int64
ic5           int64
hv1          object
pobc1         int64
pobc2         int64
avggift     float64
tcode         int64
target_d    float64
dtype: object

In [85]:
f3.select_dtypes(include="number")

,controln,ic1,ic2,ic3,ic4,ic5,pobc1,pobc2,avggift,tcode,target_d
0,119966,225,264,243,281,9372,3,68,8.058824,0,11.0
1,152470,610,763,698,807,53158,13,22,23.727273,0,45.0
2,48527,407,502,439,496,17743,0,65,4.416667,2,3.0
3,171528,317,389,405,471,17431,10,62,6.705882,0,5.0
4,50122,318,340,352,370,12416,0,75,9.250000,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,396,424,450,470,15356,7,37,14.285714,2,50.0
1002,4881,100,406,200,423,11670,10,27,9.230769,28,10.0
1003,66358,258,298,274,299,10186,1,70,5.266667,1,5.0
1004,2231,217,386,295,397,12315,0,96,11.400000,1,14.0
1005,68534,431,451,455,505,14845,7,77,7.428571,1,9.0

In [119]:
[value for value in f3["hv1"] if isinstance(value, str)]

['AAA1229', 'AAA1305', 'AAA1119', 'AAA689', 'AAA713']

In [129]:
f3_filtered = f3[~f3["hv1"].isin(['AAA1229', 'AAA1305', 'AAA1119', 'AAA689', 'AAA713'])]

In [131]:
f3_filtered["hv1"].astype(int)

0        321
1       5725
2        931
3       1895
4        715
        ...
1001     742
1002     599
1003     593
1004     564
1005     651
Name: hv1, Length: 2001, dtype: int64

In [136]:
f3_filtered.duplicated().sum()

5

In [137]:
f3_filtered_nodups = f3_filtered.drop_duplicates()

In [138]:
f3_filtered_nodups

,controln,state,gender,ic1,ic2,ic3,ic4,ic5,hv1,pobc1,pobc2,avggift,tcode,target_d
0,119966,TX,F,225,264,243,281,9372,321,3,68,8.058824,0,11.0
1,152470,CA,F,610,763,698,807,53158,5725,13,22,23.727273,0,45.0
2,48527,AL,Male,407,502,439,496,17743,931,0,65,4.416667,2,3.0
3,171528,CA,F,317,389,405,471,17431,1895,10,62,6.705882,0,5.0
4,50122,Tennessee,F,318,340,352,370,12416,715,0,75,9.250000,2,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
996,66762,MI,F,279,336,339,388,12653,632,1,71,8.533333,0,5.0
997,6443,FL,M,252,263,262,274,11132,595,8,11,14.692308,1,20.0
998,151175,CA,F,507,504,538,537,16165,2707,24,54,12.117647,0,22.0
999,151504,CA,M,535,609,612,653,24745,2666,22,45,12.333333,1,21.0
1000,74303,MI,M,225,264,269,299,10088,444,1,86,17.142857,4,25.0